/* 모든 페이지에서 사용하는 css */
/* header, footer, sidebar, frame shape */
* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
}

a:link, a:visited, a:hover {
    text-decoration: none;
}

header {
    background-color: #34495E;
    height: 7em;
}

input {
    padding: 0em 0.5em;
    height: 2.5em;
}

table {
    border-collapse: collapse;
}

caption {
    text-align: left;
    margin-bottom: 1em;
}

button {
    border: none;
    height: 3em;
    width: 7em;
    font-weight: bold;
    color: white;
    background-color: #3498DB;
}

footer {
    background-color: #34495E;
}

.left-btn {
    float: left;
    display: inline-block;
    margin-right: 1.5em;
}

.right-btn {
    float: right;
    margin-left: 1.5em;
}

.del-btn {
    background-color: #DB0000;
}

.back-btn {
    background-color: white;
    border: medium solid cornflowerblue;
    color: black;
}
}

.btns {
    height: 1em;
    margin: 1em 0em 1em 0em;
}

/* 게시판 로고 */
.logo {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 1em;
    left: 1em;
    overflow: hidden;
    width: 10em;
}

/* 사이드바, frame wrapper */
.wrapper {
    height: auto;
    display: flex;
    width: 100%;
    min-width: 75em;
    border-bottom: 0.1em solid darkgray;
}

/* 사이드바 */
.sidebar {
    background-color: #2980B9;
    max-width: 10em;
    border-right: 0.01em grey solid;
    min-height: 50em;
}

    .member {
        height: 10em;
        margin: 1em 0em 1.5em 0em;
        width: 100%;
        text-align: center;
    }

    button.member_btn {
        width: 40%;
    }
    
    .member_btns {
        height: 30%;
    }

    /* 로그인 전 */
    .login_inputs {
        height: 70%;
    }

    .login_input {
        width: 80%;
        margin: 0em 0em 1.25em 0em;
    }

    /* 로그인 후 */
    .profile-wrapper {
        padding-top: 1em;
        width: 100%;
        height: 100%;
        background-color: #E0E0E0;
    }

    .profile {
        width: 100%;
        height: 70%;
        background-color: #E0E0E0;
    }

    .profile-img {
        max-width: 30%;
        height: auto;
        padding-top: 0.5em;
    }

    .profile-msg {
        padding: 0.25em 0.5em 0.25em 0.5em;
        margin-top: 0.5em;
        text-align: center;
        font-size: 0.8em;
        font-weight: bold;
    }

.boards {
    margin-top: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.board_list_title {
    height: 2.5em;
    background: grey;
    color: white;
    text-align: center;
    padding-top: 1em;
}

.board {
    background-color: #E0E0E0;
    display: block;
    height: 50px;
    padding: 10px 0px 0px 15px;
}

/* 페이지 */
.frame {
    width: calc(80% - 10em);
    padding: 3em 0em 0em 3em;
    max-width: 62em;
    min-width: 60em;
}

/* 페이지 전광판 */
.frame-sigh{
    color: black;
    font-size: 1.75em;
    font-weight: bold;
    width: 25em;
    padding-bottom: 1.25em;
    border-bottom: 0.1em solid darkgray;
}

/* 페이지 컨텐츠 */
.frame-contents {
    padding: 3em 2em 2.5em 2em;
    background-color: #F8F8F8;
    margin: 2.5em 0em 2.5em 0em;
    width: 90%;
}

p.msg{
    height: 10em;
    line-height: 10em;
}

/* footer */
.foot-btns {
    padding: 2.5em 0em 2em 0em;
    text-align: center;
}

button.icon-btn {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    margin: 0em 1em 0em 1em;
}

button.icon-btn.git-btn {
    background: url("/static/icons/GitHub-Mark-64px.png") no-repeat;
    background-size: cover;
}

button.icon-btn.kakao-btn {
    background: url("/static/icons/ico-kakao.png") no-repeat;
    background-size: cover;
}

/* 에러 메시지 */
.errMsg {
    padding: 3em 0em;
    font-size: 2em;
    font-weight: bold;
    font-size: 2em;
    font-weight: bold;
}
