* {
    margin: 0px;
    padding: 0px;
}

.btns {
    padding: 1.5em 0em 1.5em 0em;
}

.write-comment {
    height: 8em;
    margin: 0em 0em 2em 0em;
}

.col-btn {
    width: 5%;
}

.col-comment {
    width: 60%;
}

col.col-writer {
    width: 10%;
}

col.col-date {
    width: 10%;
}

.article-info-2 {
    display: inline-block;
    float: right;
}

.article-info-1 {
    display: inline-block;
    float: left;
}

li.article-title {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin-bottom: 0.75em;
}

.search-option {
    height: 2.5em;
    width: 7em;
    text-align: center;
}

.board-bottom {
    width: 100%;
}

.page {
    display: inline-block;
    margin: 0em 0.5em 0em 0.5em;
}

.paging {
    text-align: center;
    display: block;
}

body {
    height: 100%;
    width: 100%;
}

a:link, a:visited, a:hover {
    text-decoration: none;
}

header {
    background-color: #34495E;
    height: 7em;
}

input {
    height: 2.5em;
}

#input-comment {
    width: 80%;
    height: 6em;
    resize: none;
    margin: 2em 1em 0em 0em;
}

.search-input {
    width: 30em;
}

table {
    border-collapse: collapse;
}

#comments {
    width: 95%;
    margin: 2em 0em 2em 0em;
    border-top: 0.1em dashed gainsboro;
    border-bottom: 0.1em dashed gainsboro;
}

.logo {
    font-size: 2.0em;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 1em;
    left: 1em;
    overflow: hidden;
    width: 10em;
}

.sidebar {
    background-color: #2980B9;
    width: 15em;
    border-right: 0.01em grey solid;
    min-height: 50em;
}

.member {
    height: 10em;
    margin: 1.5em 0em 1.5em 0em;
    text-align: center;
}

.boards {
    margin-top: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.board_list_title {
    height: 2.5em;
    background: grey;
    color: white;
    text-align: center;
    padding-top: 1em;
}

.board {
    background-color: #E0E0E0;
    display: block;
    height: 50px;
    padding: 10px 0px 0px 15px;
}

.login_input {
    width: 14em;
    margin: 0em 0em 1.25em 0em;
}


button {
    border: none;
    height: 3em;
    width: 7em;
    font-weight: bold;
    color: white;
    background-color: #3498DB;
}

.left_btn {
    float: left;
    display: inline-block;
    margin-right: 1.5em;
}

.write-btn {
    height: 6em;
}

.del-btn {
    background-color: #DB0000;
    height: 2em;
    width: 2em;
}

.hit-btn {
    background-color: #FFE400;
    color: darkslategrey;
    border-radius: 2em;
    height: 4em;
    margin: 1.5em 0em 1.5em 0em;
}

.right_btn {
    float: right;
    margin-left: 1.5em;
}


.wrapper {
    height: auto;
    display: flex;
    width: 80em;
    border-bottom: 0.1em solid darkgray;
}

.frame {
    width: calc(100% - 10em);
    padding: 3em 0em 0em 3em;
}

.frame-contents {
    padding: 3em 2em 2.5em 2em;
    background-color: #F8F8F8;
    margin: 2.5em 0em 2.5em 0em;
    width: 85%;
}

.frame-sigh{
    color: black;
    font-size: 1.75em;
    font-weight: bold;
    width: 25em;
    padding-bottom: 1.25em;
    border-bottom: 0.1em solid darkgray;
}

.search {
    text-align: center;
    margin: 1em 0em 1em 0em;
    padding-right: 5em;
}

.num-comment{
    font-size:0.9em; 
    color: gray;
}

.board-table {
    border-top: 0.1em solid darkgrey;
    border-bottom: 0.1em solid darkgrey;
    margin-bottom: 2em;
}

.board-table>colgroup .col-num, .board-table>colgroup .col-view, .board-table>colgroup .col-hit{
    width: 5%;
}

.board-table>colgroup .col-title{
    width: 45%;
}

.board-table>colgroup .col-writer{
    width: 15%;
}

.board-table>colgroup .col-date{
    width: 20%;
}

#comments>tbody>tr{
    border-bottom: 0.1em solid lightgrey;
}

#comments>tbody>tr:last-child{
    border-bottom: none;
}

#comments>tbody>tr>td{
    height: 5em;
    padding: 0.5em 0.1em 0.5em 0.1em;
    vertical-align: unset;
}

.board-table>thead>tr>th, .board-table>tbody>tr>td{
    height: 3em;
    padding: 0.5em 0.1em 0.5em 0.1em;
    border-bottom: 0.1em solid darkgrey; 
    border-top: 0.1em solid darkgrey; 
}