<!DOCTYPE html>
<html lang="ko">
    <head>
        {% include 'frame_head.html' %}
        {% include 'frame_ckeditor5.html' %}
    </head>

    <body>
        {% include 'frame_sign.html' %}

        <br>

        {% include 'frame_member.html' %}

        <br>

        <h3><a href="{{ url_for('board', board=board) }}">{{ board_name }} 게시판</a></h3>

        <div class="article" style="border:1px solid black; padding: 10px">
            {% set article_uid, article_nickname, article_date, article_title, 
                article_content, article_view, article_hit = article %}
            <h3>{{ article_title }}</h3>
            {% if board == 'anonymous' %}
            <div style="float:left;">익명 | {{ article_date }}</div>
            {% else %}
            <div style="float:left;">{{ article_nickname }} | {{ article_date }}</div>
            {% endif %}
            <div style="float:right;">조회수 {{ article_view }} | 추천 {{ article_hit }}</div>
            <input type="hidden" id="aid" value='{{ aid }}'>
            <br><br>
            <textarea id="content" style="border:1px dashed gray; padding: 10px; min-height: 300px;" rows="30" onkeydown="return onKeydownTap(this);">
                {{ article_content }}
            </textarea>
            <script>setCkeditorRead()</script>
            
            <br>

            <div class="btns" align="center">
                <button onclick="return sendHit()">추천하기 ({{ article_hit }})</button>
            </div>

            <br>

            {% if medias %}
            <div class="media_list" style="border:1px dashed gray; padding: 10px; min-height: 50px;">
                <label>첨부 사진 {{ medias | length }}개</label><br>
                {% for media in medias %}
                <a href="{{ url_for('static', filename=media[0]) }}" download="{{ media[1] }}">{{ media[0] }}</a>
                &ensp;&ensp;
                {% endfor %}
            </div>

            <br>
            {% endif %}

            <h5>댓글 {{ comments | length }}개</h5>
            <div class="comments" style="border:1px dashed gray; padding: 10px; min-height: 50px;">
                {% if comments %}
                <table style="width: 90%;">
                    {% for cid, comment_uid, comment_nickname, comment, cdate_time in comments %}
                    <tr align="center">
                        {% if board == 'anonymous' %}
                            {% if comment_uid == article_uid %}
                            <td style="width: 10%;">글쓴이</td>
                            {% else %}
                            <td style="width: 10%;">익명</td>
                            {% endif %}
                        {% else %}
                        <td style="width: 10%;">{{ comment_nickname }}</td>
                        {% endif %}
                        <td align="left" style="width: 65%;">{{ comment }}</td>
                        <td align="right" style="width: 20%;">{{ cdate_time }}</td>
                        {% if comment_uid == session.get('uid') %}
                        <td align="right" style="width: 5%;">
                        <button value='{{ cid }}' onclick="return sendDeleteComment(this)">X</button>
                        </td>
                        {% else %}
                        <td align="right" style="width: 5%;">&nbsp;</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <p align='center'>아직 등록된 댓글이 없습니다.</p>
                {% endif %}
            </div>

            <br>

            <div class="write-comment" style="border:1px dashed gray; padding: 10px; min-height: 50px;">
                {% if session['uid'] %}
                <script>
                </script>
                <p>
                    <label>{{ session.get('nickname') }}</label><br><br>
                    <input onkeydown="if(event.keyCode==13) return sendInsertComment()" type="text" id="comment" style="width:80%; height: 50px; resize: none;"></textarea>
                    
                    <button onclick="return sendInsertComment()" type="submit" style="width:80px; height:40px">댓글 달기</button>
                </p>
                {% else %}
                <p align='center'>로그인 한 유저만 댓글을 작성할 수 있습니다.</p>
                {% endif %}
            </div>

            <br>

            <div class="btns">
                {% if session.get('uid') == article_uid %}
                <form name="update_article" action="{{ url_for('acrticleUpdate', board=board) }}" method="post">
                    <input type="hidden" name="uid" value="{{ session.get('uid') }}">
                    <input type="hidden" name="aid" value="{{ aid }}">
                </form>
                <form name="delete_article" action="{{ url_for('articleDalete', board=board) }}" method="post">
                    <input type="hidden" name="uid" value="{{ session.get('uid') }}">
                    <input type="hidden" name="aid" value="{{ aid }}">
                </form>
                <a onclick="javascript:document.update_article.submit();">수정</a>
                <a onclick="javascript:document.delete_article.submit();">삭제</a>
                {% endif %}
                <a href="{{ url_for('articleCreate', board=board) }}">글쓰기</a>
            </div>
        </div>

        <br>

        <div class="articles" style="border:1px solid black; padding: 10px">
            {% include 'frame_board.html' %}
        </div>
        
    </body>
</html>