<!DOCTYPE html>
<html lang="ko">
    <head>
        {% include 'frame_head.html' %}
    </head>

    <meta http-equiv="refresh" content="3; url={{ url_for('board', board=board) }}">

    <body>
        <h1><a href="{{ url_for('main') }}">Flask로 만든 간단한 게시판</a></h1>

        <br>

        {% include 'frame_member.html' %}

        <br>

        <h3><a href="{{ url_for('board', board=board) }}">{{ board_name }} 게시판</a></h3>

        <div class="delete">
            <label>삭제되었습니다.</label>
        </div>
    </body>
</html>