<!DOCTYPE html>
<html lang="ko">
    <head>
        {% include 'frame_head.html' %}
        {% include 'frame_ckeditor5.html' %}
    </head>

    <body>
        {% include 'frame_header.html' %}

        <div class="wrapper">
            {% include 'frame_sidebar.html' %}

            <div class="frame">
                <div class="frame-sigh">
                    {% include 'frame_board_sign.html' %}
                </div>
                
                <div class="frame-contents">
                    <form id="write-form" action="{{ url_for('articleCreateCall') }}" method="POST"
                    onsubmit="return article_check(this)">
                        <input type="hidden" name="board" value='{{ board }}'>
                        <input type="hidden" name="uid" value="{{ session.get('uid') }}">
                        <br>
                        <input type="text" id="title" name="title" 
                        placeholder="제목을 입력하세요." style="width:300px; height:20px" onkeydown="return onKeydownEnter()">
                        <br><br>
                        <textarea id="editor" name="content" style="width:80%; resize: none;" rows="30" onkeydown="return onKeydownTap(this);"></textarea>
                        <script>setCkeditor( "{{board}}" )</script>
                        <br><br>
                        <input type="submit" value="글쓰기" style="width:80px; height:40px">
                        <a onclick="javascript:history.back()" 
                        style="width:80px; height:40px; border:1px solid black; padding: 10px">취소</a>
                    </form>
                </div>
            </div>
        </div>
        
        {% include 'frame_foot.html' %}
    </body>
</html>