<!DOCTYPE html>
<html lang="ko">
    <head>
        {% include 'frame_head.html' %}
    </head>

    <meta http-equiv="refresh" content="3; url={{ url_for('board', board=board) }}">

    <body>
        {% include 'frame_header.html' %}

        <br>

        {% include 'frame_sidebar.html' %}

        <br>

        {% include 'frame_board_sign.html' %}
        
        <div class="delete">
            <label>삭제되었습니다.</label>
        </div>
        
        {% include 'frame_foot.html' %}
    </body>
</html>