<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>My board main</title>
    </head>

    <body>
        <h1><a href="{{ url_for('main') }}">Flask로 만든 간단한 게시판</a></h1>

        <br>
        <input type="hidden" name="uid" value="{{ session.get('uid') }}">
        <input type="hidden" name="nickname" value="{{ session.get('nickname') }}">

        <h3><a href="{{ url_for('board', board=board) }}">{{ board_name }} 게시판</a></h3>

        <div class="write" style="border:1px solid black; padding: 10px">
            <form action="{{ url_for('articleCreateCall') }}" method="post">
                <input type="hidden" name="board" value='{{ board }}'>
                <input type="hidden" name="uid" value="{{ session.get('uid') }}">
                <!--
                <input type="password" name="pwd" placeholder="PASSWORD" 
                maxlength='10' style="width:100px; height:20px;">
                 -->
                <br><br>
                <input type="text" name="title" 
                placeholder="제목을 입력하세요." style="width:300px; height:20px">
                <br><br>
                <label>
                    <textarea name="content" style="width:80%; resize: none;" rows="30"></textarea>
                </label>
                <br><br>
                <input type="submit" value="글쓰기" style="width:80px; height:40px">
                <a href="javascript:history.back()" 
                style="width:80px; height:40px; border:1px solid black; padding: 10px">취소</a>
            </form>
        </div>
    </body>
</html>