<!DOCTYPE html>
<html lang="ko">
    <head>
        {% include 'frame_head.html' %}
    </head>

    <body>
        {% include 'frame_header.html' %}
        
        <div class="wrapper">
            {% include 'frame_sidebar.html' %}
            <div class="frame">
                <div class="frame-sigh">
                    <a>에러 페이지</a>
                </div>

                <div class="frame-contents">
                    <br>
                    <br>
                        <div class="errMsg" align="center">
                            {{ errMsg }}
                        </div>
                    <br>
                    <br>
                    <div class="btns" align="center">
                        <a href="javascript:history.back()" 
                        style="width:80px; height:40px; border:1px solid black; padding: 10px">뒤로가기</a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        
        {% include 'frame_foot.html' %}
    </body>
</html>