<!DOCTYPE html>
<html lang="ko">
    <head>
        {% include 'frame_head.html' %}
        <link href="{{ url_for('static', filename='css/error_page.css') }}" rel="stylesheet">
    </head>

    <body>
        {% include 'frame_header.html' %}
        
        <div class="top">
            <div class="wrapper">
                {% include 'frame_sidebar.html' %}
                <div class="frame">
                    <div class="frame-sigh">
                        <a>에러 페이지</a>
                    </div>

                    <div class="frame-contents">
                        <div class="errMsg" align="center">
                            {{ errMsg }}
                        </div>
                        <div class="btns" align="center">   
                            <button class="back-btn" type="button" onclick="javascript:history.back()">뒤로가기</button>
                        </div>
                    </div>
                </div>
                {% include 'frame_remote.html' %}
            </div>
        </div>
        {% include 'frame_foot.html' %}
    </body>
</html>