<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>My board main</title>
    </head>

    <body>
        <h1><a href="{{ url_for('main') }}">Flask로 만든 간단한 게시판</a></h1>

        <br>

        {% include 'frame_member.html' %}

        <br>

        <div class="errBox" style="border:1px solid black; padding: 10px">
            <br>
            <br>
                <div class="errMsg" align="center">
                    {{ errMsg }}
                </div>
            <br>
            <br>
            <div class="btns" align="center">
                <a href="javascript:history.back()" 
                style="width:80px; height:40px; border:1px solid black; padding: 10px">뒤로가기</a>
            </div>
            <br>
        </div>
    </body>
</html>