{% if isSearch %}
    <p class="search_msg">"<b>{{ keyword }}</b>" 검색 결과</p>
{% endif %}

{% if board == 'admin' %}
{% include 'frame_board_admin_table.html' %}
{% else %}
{% include 'frame_board_normal_table.html' %}
{% endif %}

<p class="msg" id="board-msg" align="center"></p>

<div class='board-bottom'>
    <button class="right-btn need-board-check" type="button" onclick="location.href='{{ url_for('articleCreate', board=board) }}'">글쓰기</button>
    <div class='paging'>
        <ui id='paging-ui'>
        </ui>
    </div>
    {% if board == 'admin' %}
    <form class="search" action="{{ url_for('adminBoard') }}", method="GET">
    {% else %}
    <form class="search" action="{{ url_for('board') }}", method="GET">
    {% endif %}
        <input type="hidden" name="board" value="{{ board }}">
        <input type="hidden" name="art_per_page" value="{{ 30 }}">
        <select class="search-option" name="option">
            <option value="title, content">제목/내용</option>
            <option value="title">제목</option>
            <option value="content">내용</option>
            {% if board != 'anonymous' %}
            <option value="user">작성자</option>
            {% endif %}
        </select>
        <input class="search-input" type="search" name="keyword">
        <button type="submit">검색</button>
    </form>
</div>
