<script>
    getUsersForAdmin("{{ page }}", "{{ art_per_page }}", "{{ option }}", "{{ keyword }}")
</script>
<table class="board-table" id="board-table">
    <colgroup>
        <col class="col-user-id">
        <col class="col-user-nickname">
        <col class="col-user-grade">
        <col class="col-state">
        <col class="col-nickname-change-btn">
        <col class="col-ban-btn">
    </colgroup>
    <thead>
        <tr class="board-table-thead">
            <th>아이디</th>
            <th>닉네임</th>
            <th>등급</th>
            <th>상태</th>
            <th>닉네임 변경</th>
            <th>밴</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>