<div class="remote-controler">
    <div id="remote-btns" class="remote-btns">
        <ul>
            <li class="scroll-btn">
                <button onclick="return page_scroll_top()">맨 위로</button>
            </li>
            <li class="scroll-btn">
                <button onclick="return page_scroll_up()">▲</button>
            </li>
            <li class="scroll-btn">
                <button onclick="return page_scroll_down()">▼</button>
            </li>
            <li class="scroll-btn">
                <button onclick="return page_scroll_bottom()">맨 아래로</button>
            </li>
        </ul>
    </div>
</div>