<!DOCTYPE html>
<html lang="ko">
    <head>
        {% include 'frame_head.html' %}
    </head>

    <body>
        {% include 'frame_header.html' %}
        
        <div class="wrapper">
            {% include 'frame_sidebar.html' %}
            <div class="frame">
                <div class="frame-sigh">
                    <a>게시판 리스트</a>
                </div>

                <div class="frame-contents">
                    {% for board, name in boards.items() %}
                        <div class="board-{{ board }}">
                            <h4><a href="{{ url_for('board', board=board, art_per_page=30) }}">{{ name }} 게시판</a></h4>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>