<!DOCTYPE html>
<html lang="ko">
    <head>
        {% include 'frame_head.html' %}
    </head>

    <body>
        {% include 'frame_sign.html' %}

        <br>

        <h3>회원가입</h3>

        <br>

        <div class="member-join">
            {% if not session.get("uid") %}
            <input type="text" id="new_uid" placeholder="ID" 
            maxlength='16' style="width:200px; height:20px;" onkeydown="if(event.keyCode==13) return false">
            <br><br>
            <input type="password" id="new_pwd" placeholder="PASSWORD" 
            maxlength='16' style="width:200px; height:20px;" onkeydown="if(event.keyCode==13) return false">
            <br><br>
            <input type="text" id="new_nickname" placeholder="닉네임" 
            maxlength='10' style="width:200px; height:20px;" onkeydown="if(event.keyCode==13) return false">
            <br><br>
            <button onclick="return sendInsertUser()" type="submit" style="width:80px; height:40px">회원가입</button>
            {% else %}
            <p>로그인 상태에선 불가능한 작업입니다.</p>
            {% endif %}
        </div>
    </body>
</html>