<!DOCTYPE html>
<html lang="ko">
    <head>
        {% include 'frame_head.html' %}
    </head>

    <body>
        {% include 'frame_header.html' %}

        <div class="wrapper">
            {% include 'frame_sidebar.html' %}
            <div class="frame">
                <div class="frame-sigh">
                    <a>정보수정</a>
                </div>

                <div class="frame-contents">
                    {% if session.get("uid") %}
                    <p>
                        <h4>규 칙</h4>
                        <label>아이디 변경은 불가능합니다.</label><br>
                        <label>이전 비밀번호는 필수로 입력해야하며, 비밀번호와 닉네임 중 변경을 원하시는 항목만 작성하시면 됩니다.</label><br>
                        <label>비밀번호는 5 ~ 16 글자여야 하며 영문과 숫자, !, @, #, $, %, ^, & 만 가능합니다.</label><br>
                        <label>닉네임은 2 ~ 10 글자여야 하며 공백과 ', " 는 사용 불가능합니다.</label><br>
                    </p>
                    
                    <br>

                    <form method="POST" onsubmit="return sendUpdateUser(this)">
                        <input type="hidden" name="uid" value={{ session.get('uid') }}>
                        <label>이전 비밀번호 : </label><input type="password" name="old_pwd" placeholder="PASSWORD" 
                        maxlength='16' style="width:200px; height:20px;" onkeydown="return onKeydownEnter()">
                        <br><br>
                        <label>변경 비밀번호 : </label><input type="password" name="new_pwd" placeholder="PASSWORD" 
                        maxlength='16' style="width:200px; height:20px;" onkeydown="return onKeydownEnter()">
                        <br><br>
                        <label>변경할 닉네임 : </label><input type="text" name="new_nickname" placeholder="닉네임" 
                        maxlength='10' style="width:200px; height:20px;" onkeydown="return onKeydownEnter()">
                        <br><br>
                        <button type="submit" style="width:80px; height:40px">정보 변경</button>
                    </form>
                    <br>
                    <p>회원탈퇴페이지는 아래 버튼을 클릭하세요.</p>
                    <a href="{{ url_for('memberDelete') }}" style="width:80px; height:40px; border:1px solid black; padding: 10px">탈퇴하기</a>
                    {% else %}
                    <p>비회원은 할 수 없는 작업입니다.</p>

                    <div class="btns" align="center">
                        <a href="javascript:history.back()" 
                        style="width:80px; height:40px; border:1px solid black; padding: 10px">뒤로가기</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        {% include 'frame_foot.html' %}
    </body>
</html>