<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>My board main</title>
    </head>

    <body>
        <h1><a href="{{ url_for('main') }}">Flask로 만든 간단한 게시판</a></h1>

        <br>
        
        <h3>회원가입</h3>

        <br>

        <div class="member-info">
            <script>
                function sendInfo() {
                    let uid = document.getElementById( 'uid' ).value;
                    let pwd = document.getElementById( 'pwd' ).value;
                    let nickname = document.getElementById( 'nickname' ).value;

                    const formData = new FormData();
                    const url = '/member/join/request';
                    let signal = true;

                    formData.append('uid', uid);
                    formData.append('pwd', pwd);
                    formData.append('nickname', nickname);

                    fetch (url, { method: 'POST', body: formData })
                    .then(response=>{
                        if (response.status === 200)
                            return response.json()
                        else if (response.status === 400) {
                            signal = false;
                            alert("잘못된 요청입니다.");
                        }
                        else if (response.status === 500) {
                            signal = false;
                            alert("서버에서 에러가 발생했습니다.");
                        }
                        else {
                            signal = false;
                            alert("에러가 발생했습니다.");
                        }
                    }).catch(err => {
                        if (signal){
                            signal = false;
                            alert("에러가 발생했습니다.");
                        }
                    }).then(result => {
                        if (result['result']){
                            alert("회원가입에 성공했습니다.");
                            location.href="/";
                        }
                        else if (signal){
                            signal = false;
                            alert("이미 존재하는 아이디 또는 닉네임입니다.");
                        }
                    }).catch(err => {
                        if (signal)
                            alert("에러가 발생했습니다.");
                    });
                };
            </script>

            <input type="text" id="uid" placeholder="ID" 
            maxlength='10' style="width:200px; height:20px;" onkeydown="if(event.keyCode==13) return false">
            <br><br>
            <input type="password" id="pwd" placeholder="PASSWORD" 
            maxlength='10' style="width:200px; height:20px;" onkeydown="if(event.keyCode==13) return false">
            <br><br>
            <input type="text" id="nickname" placeholder="닉네임" 
            maxlength='10' style="width:200px; height:20px;" onkeydown="if(event.keyCode==13) return false">
            <br><br>
            <button onclick="return sendInfo()" type="submit" style="width:80px; height:40px">회원가입</button>
        </div>
    </body>
</html>