<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>My board main</title>
    </head>

    <body>
        <h1><a href="{{ url_for('main') }}">Flask로 만든 간단한 게시판</a></h1>

        <br>

        <h3><a href="{{ url_for('board', board=board) }}">{{ board_name }} 게시판</a></h3>

        <div class="check" style="border:1px solid black; padding: 10px">
            <br>
            <br>
            {% if check_type == 'U' %}
            <form action="{{ url_for('acrticleUpdate', board=board) }}" method="post">
            {% elif check_type == 'D' %}
            <form action="{{ url_for('articleDalete', board=board) }}" method="post">
            {% endif %}
                <div align="center">
                    <input type="hidden" name="uid" value="{{ uid }}">
                    <input type="hidden" name="aid" value="{{ aid }}">
                    <label>비밀번호 : </label>
                    <input type="password" name="pwd" placeholder="PASSWORD" 
                    maxlength='10' style="width:100px; height:20px;">
                </div>
                <br>
                <br>
                <div class="btns" align="center">
                    <input type="submit" value="확인" style="width:80px; height:40px">
                    <a href="javascript:history.back()" 
                    style="width:80px; height:40px; border:1px solid black; padding: 10px">취소</a>
                </div>
            </form>
        </div>
    </body>
</html>